@{
    ViewBag.Title = "admin_index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="my-5">
    <div class="card-deck admin-card my-5">


        <div class="row mb-5">
            <div class="col-md-6 col-lg-4">
                <a href="/Admin/Index" class="text-decoration-none">
                    <div class="card text-dark">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7"><h4 class="card-text">Dashboard</h4></div>
                                <div class="col-5 card-image"><i class="fas fa-user"></i></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4">
                <a href="/Doctor/Index" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <div class="row  text-info">
                                <div class="col-7"><h5 class="card-text">Doctor</h5></div>
                                <div class="col-5 card-image"><i class="fas fa-user-md"></i></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4">
                <a href="/Patient/Index" class="text-decoration-none">
                    <div class="card text-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7"><h4 class="card-text">Patient</h4></div>
                                <div class="col-5 card-image"><i class="fas fa-user-injured"></i></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-6 col-lg-4">
                <a href="/Nurse/Index" class="text-decoration-none">
                    <div class="card text-warning">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7"><h4 class="card-text">Nurse</h4></div>
                                <div class="col-5 card-image"><i class="fas fa-user-nurse"></i></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4">
                <a href="/LabTech/Index" class="text-decoration-none">
                    <div class="card text-secondary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7"><h4 class="card-text">Laboratorist</h4></div>
                                <div class="col-5 card-image"><i class="fas fa-vial"></i></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4">
                <a href="/Pharmacist/Index" class="text-decoration-none">
                    <div class="card text-success">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7"><h5 class="card-text">Pharmacist</h5></div>
                                <div class="col-5 card-image"><i class="fas fa-capsules"></i></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-6 col-lg-4">
                <a href="/Accountant/Index" class="text-decoration-none">
                    <div class="card text-danger">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7"><h4 class="card-text">Accountant</h4></div>
                                <div class="col-5 card-image"><i class="far fa-money-bill-alt"></i></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4">
                <a href="/Newsletter/Index" class="text-decoration-none">
                    <div class="card text-danger">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7"><h4 class="card-text">Newsletter</h4></div>
                                <div class="col-5 card-image"><i class="far fa-newspaper"></i></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        

    </div>
</div>