@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron jumbotron-fluid bg-dark" style="height: 140px;">

</div>

<h2>@ViewBag.Title.</h2>

<p>We have said all we want to say on the main page. What else do you want to know??!!?</p>
<h5>Rasheed built this by the way. ;)</h5>
