@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Banner -->
<section id="banner">
    <h2>Sekhmet</h2>
    <p>We make it a responsibility to give the best care <br /> Healing with a touch of love</p>
    <ul class="actions">
        <li><a href="/Appointment/Create" class="button special big">Book an Appointment</a></li>
    </ul>
</section>

<!-- One -->
<section id="one" class="wrapper style1">
    <div class="container 75%">
        <div class="row 200%">
            <div class="6u 12u$(medium)">
                <header class="major">
                    <h2>Exprience Ladden Experts</h2>
                    <p>Experience and innovation drive our vision for patient-centered care.</p>
                </header>
            </div>
            <div class="6u$ 12u$(medium)">
                <p>Sekhmet General Hospital is a leading multi-speciality hospital in Lagos Nigeria and home to Nigeria foremost Kidney Transplant and Dialysis Centre.</p>
                <p>Our core speciality departments (orthopaedics, cardiology and cardiothoracic surgery, gastroenterology – surgical and medical and nephrology) are represented and led by well experienced and successful surgeons with education and work experience in Nigeria USA, UK, Canada and other European countries.</p>
            </div>
        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2 special">
    <div class="container">
        <header class="major">
            <h2>What we do</h2>
        </header>
        <div class="row 150%">
            <div class="6u 12u$(xsmall)">
                <div class="image fit captioned">
                    <img src="~/Content/img/skeleton.jpg" alt="" />
                    <h3>Stem cell research with world-renowned experts</h3>
                </div>
            </div>
            <div class="6u$ 12u$(xsmall)">
                <div class="image fit captioned">
                    <img src="~/Content/img/equipment.jpg" alt="" />
                    <h3>World-class equipment for carrying out tests</h3>
                </div>
            </div>
        </div>
        <ul class="actions">
            <li><a href="/Home/About" class="button special big">Find out more</a></li>
            <li><a href="/Home/Contact" class="button big">Find us on the map <i class="fas fa-map-marked-alt"></i></a></li>
        </ul>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper style1">
    <div class="container">
        <header class="major special">
            <h2>Our Medical Services</h2>
        </header>
        <div class="feature-grid">
            <div class="feature">
                <div class="image rounded"><img src="~/Content/img/ambulance.jpg" alt="" /></div>
                <div class="content">
                    <header>
                        <h4>Emergency</h4>
                    </header>
                    <p>Emergency services are provides in and around the Lagos Mainland Local Government Development Area.</p>
                </div>
            </div>
            <div class="feature">
                <div class="image rounded"><img src="~/Content/img/xray.jpg" alt="" /></div>
                <div class="content">
                    <header>
                        <h4>Radiology</h4>
                    </header>
                    <p>Our Radiography laboratory is arguably the best in West-Africa</p>
                </div>
            </div>
            <div class="feature">
                <div class="image rounded"><img src="~/Content/img/surgery.jpg" alt="" /></div>
                <div class="content">
                    <header>
                        <h4>Surgery</h4>
                    </header>
                    <p>Our standby physicians have successfully carried out several surgical operations since our inception.</p>
                </div>
            </div>
            <div class="feature">
                <div class="image rounded"><img src="~/Content/img/baby.jpg" alt="" /></div>
                <div class="content">
                    <header>
                        <h4>Paediatrics</h4>
                    </header>
                    <p>Babies born in Sekhmet GH generally grow up to become superstars. Check our records if you are in doubt.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Four -->
<section id="four" class="wrapper style3 special">
    <div class="container">
        <header class="major">
            <h2>"Always laugh when you can, it is cheap medicine."</h2>
            <p>Talk to us, your friendly neighborhood hospital.</p>
        </header>
        <ul class="actions">
            <li><a href="/Home/Contact" class="button special big">Get in touch</a></li>
        </ul>
    </div>
</section>